In [2]:
my_int = 6
my_float = 6.

In [4]:
print(type(my_int))
type(my_float)

<class 'int'>

float

In [5]:
3+9

12

In [6]:
3+3.

6.0

##Operator

In [9]:
print(3 ** 9)
print(3 ** 2)
print(3/3)
print(3/9)
print(9//2)
print (11//3) # this shows how many 3 is fitting into 11
print(11/3)

19683
9
1.0
0.3333333333333333
4
3
3.6666666666666665

In [13]:
4 % 5 # shows a number which cannot be divided by the second number

4

In [12]:
6 % 5

1

In [15]:
print('even', 1465556 % 2)
print( 'uneven',1465557 % 2)

even 0
uneven 1

In [16]:
5.5 % 2

1.5

In [24]:
my_int_1 = 13
my_int_2 =3
print(f'sum {my_int_1 + my_int_2}')

sum 16

In [29]:
my_float_1 = 13.4198498
my_float_2 = 3.14
print (f'sum: {my_float_1 + my_float_2}')
print (f'subtract: {my_float_1 - my_float_2}')
print (f'multiply: {my_float_1 * my_float_2}')
print (f'power of: {my_float_1 ** my_float_2}')
print (f'Divide: {my_float_1 / my_float_2}')
print (f'Modulus: {my_float_1 % my_float_2}')

sum: 16.5598498
subtract: 10.2798498
multiply: 42.138328372000004
power of: 3476.3831555637157
Divide: 4.273837515923566
Modulus: 0.8598497999999992

In [25]:
dist_moon = 38400
dist_sun = 15000000
dist_sun/dist_moon

390.625

In [27]:
speed = 150
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')

hours to the moon 256.0
days to the moon 10.666666666666666
hours to the moon 0.3555555555555555

In [28]:
speed = 150
print (f'seconds to the moon {dist_moon/speed*3600}')
print (f'hours to the moon {dist_moon/speed}')
print (f'days to the moon {dist_moon/speed/24}')
print (f'months to the moon {dist_moon/speed/24/30}')
print (f'years to the moon {dist_moon/speed/24/30/12}')

seconds to the moon 921600.0
hours to the moon 256.0
days to the moon 10.666666666666666
months to the moon 0.3555555555555555
years to the moon 0.029629629629629627

In [34]:
import datetime
print(datetime.datetime.now())
my_birthday = datetime.date (1986,5,4)
datetime.datetime.now().date() - my_birthday
delta = datetime.timedelta(seconds=dist_moon/speed*3600)
print (f'We would reach the moon on {datetime.datetime.now() + delta}')

2021-11-16 10:53:36.006320
We would reach the moon on 2021-11-27 02:53:36.008319

In [35]:
#timedelta means difference

In [37]:
my_bool = 1 > 2
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [40]:
my_bool_2 = True
my_bool_3 = False
#bad_my_bool_4 = true
is_even = my_int % 2 == 0
print(f'my_int is even {is_even}')

my_int is even True

## Comparison operators

In [44]:
print(f'equal to operator ==: {1 == 1}')
print(f'equal to operator ==: {1 == 10}')
print(f'not equal to operator ==: {1 != 1}')
print(f'not equal to operator ==: {1 != 10}')
print(f'more to operator >: {1 > 10}')
print(f'more to operator >=: {1 >= 10}')
print(f'less to operator <: {1 < 10}')
print(f'less to operator <=: {1 <= 10}')

equal to operator ==: True
equal to operator ==: False
not equal to operator ==: False
not equal to operator ==: True
more to operator >: False
more to operator >=: False
less to operator <: True
less to operator <=: True

In [47]:
#True and Trues
10 > 2 and 2 < 5

True

In [48]:
#True and False
10 > 2 and 2 > 5

False

In [50]:
#True or False
10 > 2 or 2 > 5

True

In [51]:
#False or False
10 < 2 or 2 > 5

False

In [52]:
True and 10 > 5 and 10 % 2 == 0 or False

True

In [53]:
True and 10 > 5 and 10 % 2 == 0 or False
# <-- True ---> and <-- True -> or 
# <-- True ------------ True -> or

True

In [54]:
True and 10 > 5 and 11 % 2 == 0 or False
# <-- True ---> and <-- False -> or 
# <-- True ------------ False -> or

False

In [57]:
print(bool('Some text'))
print(bool(''))
print(bool(' '))

True
False
True

In [59]:
print (bool(5) ) 
print (bool(0) ) 
print (bool(1) ) 
print (bool(-1) )

True
False
True
True

In [61]:
print (bool(5.0) ) 
print (bool(0.0) ) 
print (bool(1.0) ) 
print (bool(-1.0) )
print (bool(0.5) )

True
False
True
True
True

In [62]:
not 5 > 2

False

In [63]:
not_even = not 10 % 2 == 0
print (not_even)
not_even_2 = 10 % 2 != 0
print (not_even_2)

False
False

In [66]:
# sum = 0
# sum = sum + 5
# sum = sum + 10
# sum = sum - 3
# print (sum)

sum = 0
sum += 5
sum += 10
sum -= 3
print (sum)

12

In [67]:
multiply = 1
multiply *= 10
multiply *= 10
multiply *= 10
print(multiply)

1000

## Membership operator

In [69]:
text = 'Hello world'
'world' in text

True

In [70]:
text = 'Hello world'
print ('world' in text)

True

In [71]:
'a' in 'Hello'

False

## Lists

In [72]:
my_list = [1, 5, 10, 15]

In [73]:
len(my_list)

4

In [76]:
print('lenght:', len(my_list))
print('1st:', my_list[0])
print ('slice:', my_list[2:])

lenght: 4
1st: 1
slice: [10, 15]

In [79]:
my_list_2 = [1, 1, 2, 2, 'Gabriele', 'Vilnius', True, 1>10]
print (my_list_2)

[1, 1, 2, 2, 'Gabriele', 'Vilnius', True, False]

In [85]:
my_list_3 = [1, 5, 1, 1498, 10, 15, 54]
print(my_list_3)
# print(my_list_3.sort()) # returns None, don't try to print it
my_list_3.sort()
print(my_list_3)
my_list_3.sort(reverse=True)
print(my_list_3)

[1, 5, 1, 1498, 10, 15, 54]
[1, 1, 5, 10, 15, 54, 1498]
[1498, 54, 15, 10, 5, 1, 1]

In [3]:
[1,2,3]+['a','b','c']

[1, 2, 3, 'a', 'b', 'c']

In [5]:
my_list = [1,2,3]
print (my_list)
my_list.append(5)
my_list.append('abs')
my_list.append( [10,100,1000] )
print (my_list)
my_list.extend('abs')
my_list.extend([156])
my_list.extend( [10,100,1000] )
print (my_list)
poped_value = my_list.pop()
print (poped_value)
print (my_list)
poped_value = my_list.pop()
print (poped_value)
print (my_list)
poped_value = my_list.pop(0)
print (poped_value)
print (my_list)

[1, 2, 3]
[1, 2, 3, 5, 'abs', [10, 100, 1000]]
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100, 1000]
1000
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10, 100]
100
[1, 2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
1
[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [6]:
print (my_list)
my_list.insert(3, "new_text")
print (my_list)

[2, 3, 5, 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]

In [7]:
print (my_list)
my_list.remove('a') # will through an error if does not exist
print (my_list)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'a', 'b', 's', 156, 10]
[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]

In [8]:
print (my_list)
index_10 = my_list.index(2) 
print (index_10 )
print (my_list[index_10] )
my_list.index(15419)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10]
0
2

ValueError: 15419 is not in list

In [9]:
index_10 = my_list.index([10, 100, 1000]) 
print (index_10 )
print (my_list[index_10] )

5
[10, 100, 1000]

In [10]:
my_list.extend([5,5,5,5])

print(my_list)
my_list.count(5)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10, 5, 5, 5, 5]

5

In [9]:
my_list.reverse()
print(my_list)

[5, 5, 5, 5, 10, 156, 's', 'b', [10, 100, 1000], 'abs', 'new_text', 5, 3, 2]

## Mutable vs immutable

In [11]:
#immutable
a =1
b =a
b += 1
print(a)
print(b)
print(id(a))
print(id(b))

1
2
1966545436912
1966545436944

In [13]:
#mutable
list_1 = [1,2,3]
list_2 = list_1
list_2.append(100)
print(list_1)
print(list_2)
print(id(list_1))
print(id(list_2))

[1, 2, 3, 100]
[1, 2, 3, 100]
1966625491008
1966625491008

In [14]:
#Fixing muatbility
list_1 = [1,2,3]
list_2 = list_1.copy()
list_2.append(100)
print(list_1)
print(list_2)
print(id(list_1))
print(id(list_2))

[1, 2, 3]
[1, 2, 3, 100]
1966632613376
1966625861952

In [16]:
# Fixing mutability (Solution 1)
# list_1 = [1,2,3]
list_1 = [1,2,[1,0,100] ]
list_2 = list_1.copy()
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_1[2]) )
print( id(list_2[2]) )
print( id(list_2) )

[1, 2, [1, 0, 100, 100]]
[1, 2, [1, 0, 100, 100]]
1966625861952
1966625863488
1966625863488
1966655845184

In [18]:
# Fixing mutability (Solution 2)
import copy
list_1 = [1,2,[1,0,100] ]
list_2 = copy.deepcopy(list_1) 
# list_2.append(100)
list_2[2].append(100)
print(list_1)
print(list_2)
print( id(list_1) )
print( id(list_2) )
print( id(list_1[2]) )
print( id(list_2[2]) )

[1, 2, [1, 0, 100]]
[1, 2, [1, 0, 100, 100]]
1966655817216
1966655847616
1966625841344
1966625535680

In [11]:
print(my_list)

[2, 3, 5, 'new_text', 'abs', [10, 100, 1000], 'b', 's', 156, 10, 5, 5, 5, 5]

In [4]:
1+2

3

In [12]:
#List tasks for homework

## Tuple

In [22]:
my_tuple = (1, 1, 'a', 'b', 'ab' )
print (my_tuple[:3] )
print (my_tuple[4])
print (f'lenght of the tuple: {len (my_tuple)}' )
print (f'count of 1 in tuple: {my_tuple.count(1)}' )
print (f"count of 'c' in tuple: {my_tuple.count('c')}" )
print (f"check if 'b' is in tuple: { 'b' in my_tuple}" )
print (f"check 'b' index in tuple: { my_tuple.index('b')}" )

# my_tuple[2] = 'c' # Error, can't do that

(1, 1, 'a')
ab
lenght of the tuple: 5
count of 1 in tuple: 2
count of 'c' in tuple: 0
check if 'b' is in tuple: True
check 'b' index in tuple: 3

In [23]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,3)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 3)

In [26]:
tmp_list= list(tuple_3)
print(tmp_list)
tmp_list[3]=10
tuple_3 = tuple(tmp_list)
print (tuple_3)

[1, 2, 3, 4, 5, 3]
(1, 2, 3, 10, 5, 3)

In [30]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[3][1][1])
print(my_tuple[-1][-1][-1])

8
8

In [33]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tmp_list = list(tuple1)
print (tmp_list[1])
tmp_list[1][1] = 22
tuple1 = tuple(tuple1)
print (tuple1)

(11, [222, 33], 44, 55)
[222, 33]
(11, [222, 22], 44, 55)

In [34]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1)
tuple1[1][1] = 22
print (tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

## Range

In [43]:
print(list(range(10)))
print(list(range(5,10)))
print(list(range(5,25,2)))
print(list(range(50,25,-5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[50, 45, 40, 35, 30]

## For loops

In [45]:
cities = ['Vilnius', 'Kaunas','London']
for city in cities:
    print(f'City is called: {city}')
print('went trough all cities')

City is called: Vilnius
City is called: Kaunas
City is called: London
went trough all cities

In [46]:
for i in range(10):
    print(f"index is {i}")

index is 0
index is 1
index is 2
index is 3
index is 4
index is 5
index is 6
index is 7
index is 8
index is 9

In [47]:
for i in range(5,50,5):
    print(f"index is {i}")

index is 5
index is 10
index is 15
index is 20
index is 25
index is 30
index is 35
index is 40
index is 45

In [49]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' , 'Sunday')
hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
for day in days:
    print(day)
    for hour in hours:
        print(hour)

Monday
10
11
12
13
14
15
16
17
18
19
Tuesday
10
11
12
13
14
15
16
17
18
19
Wednesday
10
11
12
13
14
15
16
17
18
19
Thursday
10
11
12
13
14
15
16
17
18
19
Friday
10
11
12
13
14
15
16
17
18
19
Saturday
10
11
12
13
14
15
16
17
18
19
Sunday
10
11
12
13
14
15
16
17
18
19